body {
width: 100vw;
margin: 0 auto;
}

header {
margin: 0 auto;
align-content: center;  
    
}

img {
margin: 0 auto;
margin-left: 30px;    
}

.db {
width: 960px;
float: left;    
}

.searchForm {
width: 275px;
float: left;
}


ul {
list-style: none;
display: inline-block;    
}

ul li {
display: inline-block;
}

li a {
display: inline-block;
background: black;
color: white;
padding: 5px;    
}

tr {
background: #eed5b7;
padding-bottom: 30px;
}

td {
margin-bottom: 20px;
}